# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true

    #esi: true
    #fragments: true
    php_errors:
        log: true

    ide: '%env(string:default::SYMFONY_IDE)%'

when@test:
    framework:
        test: true
